.ct-section {
width:100%;
background-size:cover;
background-repeat:repeat;
}
.ct-section>.ct-section-inner-wrap {
display:flex;
flex-direction:column;
align-items:flex-start;
}
.ct-div-block {
display:flex;
flex-wrap:nowrap;
flex-direction:column;
align-items:flex-start;
}
.ct-new-columns {
display:flex;
width:100%;
flex-direction:row;
align-items:stretch;
justify-content:center;
flex-wrap:wrap;
}
.ct-link-text {
display:inline-block;
}
.ct-link {
display:flex;
flex-wrap:wrap;
text-align:center;
text-decoration:none;
flex-direction:column;
align-items:center;
justify-content:center;
}
.ct-link-button {
display:inline-block;
text-align:center;
text-decoration:none;
}
.ct-link-button {
background-color: #1e73be;
border: 1px solid #1e73be;
color: #ffffff;
padding: 10px 16px;
}
.ct-image {
max-width:100%;
}
.ct-fancy-icon>svg {
width:55px;height:55px;}
.ct-inner-content {
width:100%;
}
.ct-slide {
display:flex;
flex-wrap:wrap;
text-align:center;
flex-direction:column;
align-items:center;
justify-content:center;
}
.ct-nestable-shortcode {
display:flex;
flex-wrap:nowrap;
flex-direction:column;
align-items:flex-start;
}
.oxy-comments {
width:100%;
text-align:left;
}
.oxy-comment-form {
width:100%;
}
.oxy-login-form {
width:100%;
}
.oxy-search-form {
width:100%;
}
.oxy-tabs-contents {
display:flex;
width:100%;
flex-wrap:nowrap;
flex-direction:column;
align-items:flex-start;
}
.oxy-tab {
display:flex;
flex-wrap:nowrap;
flex-direction:column;
align-items:flex-start;
}
.oxy-tab-content {
display:flex;
width:100%;
flex-wrap:nowrap;
flex-direction:column;
align-items:flex-start;
}
.oxy-testimonial {
width:100%;
}
.oxy-icon-box {
width:100%;
}
.oxy-pricing-box {
width:100%;
}
.oxy-posts-grid {
width:100%;
}
.oxy-gallery {
width:100%;
}
.ct-slider {
width:100%;
}
.oxy-tabs {
display:flex;
flex-wrap:nowrap;
flex-direction:row;
align-items:stretch;
}
.ct-modal {
flex-direction:column;
align-items:flex-start;
}
.ct-span {
display:inline-block;
text-decoration:inherit;
}
.ct-widget {
width:100%;
}
.oxy-dynamic-list {
width:100%;
}
@media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) {
			.ct-div-block,
			.oxy-post-content,
			.ct-text-block,
			.ct-headline,
			.oxy-rich-text,
			.ct-link-text { max-width: 100%; }
			img { flex-shrink: 0; }
			body * { min-height: 1px; }
		}            .oxy-testimonial {
                flex-direction: row;
                align-items: center;
            }
                        .oxy-testimonial .oxy-testimonial-photo-wrap {
                order: 1;
            }
            
                        .oxy-testimonial .oxy-testimonial-photo {
                width: 125px;                height: 125px;                margin-right: 20px;
            }
            
                        .oxy-testimonial .oxy-testimonial-photo-wrap, 
            .oxy-testimonial .oxy-testimonial-author-wrap, 
            .oxy-testimonial .oxy-testimonial-content-wrap {
                align-items: flex-start;                text-align: left;            }
            
                                                            .oxy-testimonial .oxy-testimonial-text {
                margin-bottom:8px;font-size: 21px;
line-height: 1.4;
-webkit-font-smoothing: subpixel-antialiased;
            }
            
                                    .oxy-testimonial .oxy-testimonial-author {
                font-size: 18px;
-webkit-font-smoothing: subpixel-antialiased;
            }
                            

                                                .oxy-testimonial .oxy-testimonial-author-info {
                font-size: 12px;
-webkit-font-smoothing: subpixel-antialiased;
            }
            
             
            
                        .oxy-icon-box {
                text-align: left;                flex-direction: column;            }
            
                        .oxy-icon-box .oxy-icon-box-icon {
                margin-bottom: 12px;
                align-self: flex-start;            }
            
                                                                        .oxy-icon-box .oxy-icon-box-heading {
                font-size: 21px;
margin-bottom: 12px;            }
            
                                                                                    .oxy-icon-box .oxy-icon-box-text {
                font-size: 16px;
margin-bottom: 12px;align-self: flex-start;            }
            
                        .oxy-icon-box .oxy-icon-box-link {
                margin-top: 20px;                            }
            
            
            /* GLOBALS */

                                                            .oxy-pricing-box .oxy-pricing-box-section {
                padding-top: 20px;
padding-left: 20px;
padding-right: 20px;
padding-bottom: 20px;
text-align: center;            }
                        
                        .oxy-pricing-box .oxy-pricing-box-section.oxy-pricing-box-price {
                justify-content: center;            }
            
            /* IMAGE */
                                                                                    .oxy-pricing-box .oxy-pricing-box-section.oxy-pricing-box-graphic {
                justify-content: center;            }
            
            /* TITLE */
                                                            
                                    .oxy-pricing-box .oxy-pricing-box-title-title {
                font-size: 48px;
            }
            
                                    .oxy-pricing-box .oxy-pricing-box-title-subtitle {
                font-size: 24px;
            }
            

            /* PRICE */
                                                .oxy-pricing-box .oxy-pricing-box-section.oxy-pricing-box-price {
                                                flex-direction: row;                                            }
            
                                    .oxy-pricing-box .oxy-pricing-box-currency {
                font-size: 28px;
            }
            
                                    .oxy-pricing-box .oxy-pricing-box-amount-main {
                font-size: 80px;
line-height: 0.7;
            }
            
                                    .oxy-pricing-box .oxy-pricing-box-amount-decimal {
                font-size: 13px;
            }
                        
                                    .oxy-pricing-box .oxy-pricing-box-term {
                font-size: 16px;
            }
            
                                    .oxy-pricing-box .oxy-pricing-box-sale-price {
                font-size: 12px;
color: rgba(0,0,0,0.5);
                margin-bottom: 20px;            }
            
            /* CONTENT */

                                                                        .oxy-pricing-box .oxy-pricing-box-section.oxy-pricing-box-content {
                font-size: 16px;
color: rgba(0,0,0,0.5);
            }
            
            /* CTA */

                                                                        .oxy-pricing-box .oxy-pricing-box-section.oxy-pricing-box-cta {
                justify-content: center;            }
            
        
                                .oxy-progress-bar .oxy-progress-bar-background {
            background-color: #000000;            background-image: linear-gradient(-45deg,rgba(255,255,255,.12) 25%,transparent 25%,transparent 50%,rgba(255,255,255,.12) 50%,rgba(255,255,255,.12) 75%,transparent 75%,transparent);            animation: none 0s paused;        }
                
                .oxy-progress-bar .oxy-progress-bar-progress-wrap {
            width: 85%;        }
        
                                                        .oxy-progress-bar .oxy-progress-bar-progress {
            background-color: #66aaff;padding: 40px;animation: none 0s paused, none 0s paused;            background-image: linear-gradient(-45deg,rgba(255,255,255,.12) 25%,transparent 25%,transparent 50%,rgba(255,255,255,.12) 50%,rgba(255,255,255,.12) 75%,transparent 75%,transparent);        
        }
                
                        .oxy-progress-bar .oxy-progress-bar-overlay-text {
            font-size: 30px;
font-weight: 900;
-webkit-font-smoothing: subpixel-antialiased;
        }
        
                        .oxy-progress-bar .oxy-progress-bar-overlay-percent {
            font-size: 12px;
        }
        
        .ct-slider .unslider-nav ol li {border-color: #ffffff; }.ct-slider .unslider-nav ol li.unslider-active {background-color: #ffffff; }.ct-slider .ct-slide {
				padding: 0px;			}
		
                        .oxy-superbox .oxy-superbox-secondary, 
            .oxy-superbox .oxy-superbox-primary {
                transition-duration: 0.5s;            }
            
            
            
            
            
        
        
        
        
            .oxy-shape-divider {
                width: 0px;
                height: 0px;
                
            }
            
            .oxy_shape_divider svg {
                width: 100%;
            }
            .oxy-pro-menu .oxy-pro-menu-container:not(.oxy-pro-menu-open-container):not(.oxy-pro-menu-off-canvas-container) .sub-menu{
box-shadow:px px px px ;}

.oxy-pro-menu .oxy-pro-menu-show-dropdown .oxy-pro-menu-list .menu-item-has-children > a svg{
transition-duration:0.4s;
}

.oxy-pro-menu .oxy-pro-menu-show-dropdown .oxy-pro-menu-list .menu-item-has-children > a div{
margin-left:0px;
}

.oxy-pro-menu .oxy-pro-menu-mobile-open-icon svg{
width:30px;
height:30px;
}

.oxy-pro-menu .oxy-pro-menu-mobile-open-icon{
padding-top:15px;
padding-right:15px;
padding-bottom:15px;
padding-left:15px;
}

.oxy-pro-menu .oxy-pro-menu-mobile-open-icon, .oxy-pro-menu .oxy-pro-menu-mobile-open-icon svg{
transition-duration:0.4s;
}

.oxy-pro-menu .oxy-pro-menu-mobile-close-icon{
top:20px;
left:20px;
}

.oxy-pro-menu .oxy-pro-menu-mobile-close-icon svg{
width:24px;
height:24px;
}

.oxy-pro-menu .oxy-pro-menu-mobile-close-icon, .oxy-pro-menu .oxy-pro-menu-mobile-close-icon svg{
transition-duration:0.4s;
}

.oxy-pro-menu .oxy-pro-menu-container.oxy-pro-menu-off-canvas-container, .oxy-pro-menu .oxy-pro-menu-container.oxy-pro-menu-open-container{
background-color:#ffffff;
}

.oxy-pro-menu .oxy-pro-menu-off-canvas-container, .oxy-pro-menu .oxy-pro-menu-open-container{
background-image:url();
}

.oxy-pro-menu .oxy-pro-menu-off-canvas-container .oxy-pro-menu-list .menu-item-has-children > a svg, .oxy-pro-menu .oxy-pro-menu-open-container .oxy-pro-menu-list .menu-item-has-children > a svg{
font-size:24px;
}

.oxy-pro-menu .oxy-pro-menu-dropdown-links-toggle.oxy-pro-menu-open-container .menu-item-has-children ul, .oxy-pro-menu .oxy-pro-menu-dropdown-links-toggle.oxy-pro-menu-off-canvas-container .menu-item-has-children ul{
background-color:rgba(0,0,0,0.2);
border-top-style:solid;
}

.oxy-pro-menu .oxy-pro-menu-container:not(.oxy-pro-menu-open-container):not(.oxy-pro-menu-off-canvas-container) .oxy-pro-menu-list{
                    flex-direction: row;
               }
.oxy-pro-menu .oxy-pro-menu-container .menu-item a{
                    text-align: left;
                    justify-content: flex-start;
                }
.oxy-pro-menu .oxy-pro-menu-container.oxy-pro-menu-open-container .menu-item, .oxy-pro-menu .oxy-pro-menu-container.oxy-pro-menu-off-canvas-container .menu-item{
                    align-items: flex-start;
                }

            .oxy-pro-menu .oxy-pro-menu-off-canvas-container{
                    top: 0;
                    bottom: 0;
                    right: auto;
                    left: 0;
               }
.oxy-pro-menu .oxy-pro-menu-container.oxy-pro-menu-open-container .oxy-pro-menu-list .menu-item a, .oxy-pro-menu .oxy-pro-menu-container.oxy-pro-menu-off-canvas-container .oxy-pro-menu-list .menu-item a{
                    text-align: left;
                    justify-content: flex-start;
                }

            .ct-section-inner-wrap, .oxy-header-container{
  max-width: 1120px;
}
body {font-family: 'Montserrat';}body {line-height: 1.6;font-size: 16px;font-weight: 400;color: #404040;}.oxy-nav-menu-hamburger-line {background-color: #404040;}h1, h2, h3, h4, h5, h6 {font-family: 'Orbitron';font-size: 36px;font-weight: 700;}h2, h3, h4, h5, h6{font-size: 30px;}h3, h4, h5, h6{font-size: 24px;}h4, h5, h6{font-size: 20px;}h5, h6{font-size: 18px;}h6{font-size: 16px;}a {color: #0074db;text-decoration: none;}a:hover {text-decoration: none;}.ct-link-text {text-decoration: ;}.ct-link {text-decoration: ;}.ct-link-button {border-radius: 3px;}.ct-section-inner-wrap {
padding-top: 75px;
padding-right: 20px;
padding-bottom: 75px;
padding-left: 20px;
}.ct-new-columns > .ct-div-block {
padding-top: 20px;
padding-right: 20px;
padding-bottom: 20px;
padding-left: 20px;
}.oxy-header-container {
padding-right: 20px;
padding-left: 20px;
}@media (max-width: 992px) {
				.ct-columns-inner-wrap {
					display: block !important;
				}
				.ct-columns-inner-wrap:after {
					display: table;
					clear: both;
					content: "";
				}
				.ct-column {
					width: 100% !important;
					margin: 0 !important;
				}
				.ct-columns-inner-wrap {
					margin: 0 !important;
				}
			}
.oxel_number_counter {
}
.oxel_number_counter__number {
 font-family:'Orbitron';
 color:#374047;
}
.oxel_number_counter__label {
 font-family:'Montserrat';
 color:#606e79;
}
.divider {
 margin-top:57px;
}
.card-with-banner {
 background-color:#000000;
 border-radius:10px;
 margin-right:10px;
 margin-left:0px;
 width:100%;
 gap:0px;
 padding-top:20px;
 padding-right:20px;
 padding-bottom:25px;
 padding-left:20px;
}
.card-with-banner:not(.ct-section):not(.oxy-easy-posts),
.card-with-banner.oxy-easy-posts .oxy-posts,
.card-with-banner.ct-section .ct-section-inner-wrap{
display:flex;
flex-direction:column;
gap:0px;
}
.card-with-banner__hero {
 margin-bottom:25px;
 border-radius:8px;
 min-height:350px;
}
.card-with-banner__button {
 text-align:center;
 background-color:#000000;
 padding-top:1px;
 padding-right:15px;
 padding-bottom:1px;
 padding-left:15px;
 position:relative;
 width:100%;
 border-top-style:solid;
 border-right-style:solid;
 border-bottom-style:solid;
 border-left-style:solid;
 border-top-color:#f2f2f2;
 border-right-color:#f2f2f2;
 border-bottom-color:#f2f2f2;
 border-left-color:#f2f2f2;
 border-top-width:1px;
 border-right-width:1px;
 border-bottom-width:1px;
 border-left-width:1px;
}
.card-with-banner__button:not(.ct-section):not(.oxy-easy-posts),
.card-with-banner__button.oxy-easy-posts .oxy-posts,
.card-with-banner__button.ct-section .ct-section-inner-wrap{
display:flex;
flex-direction:row;
flex-wrap:nowrap;
align-items:center;
justify-content:flex-start;
}
.promenu:hover{
 oxy-pro-menu_slug_oxypromenulistmenuitemmenuitemmenuitemmenuitemacolor:#ff0000;
 oxy-pro-menu_slug_oxypromenucontainernotoxypromenuopencontainernotoxypromenuoffcanvascontainersubmenumenuitemabackground_color:#eeeeee;
 oxy-pro-menu_slug_oxypromenumobilecloseiconbackground_color:#bbbbbb;
 oxy-pro-menu_slug_oxypromenulistmenuitemmenuitemmenuitemmenuitemabackground_color:#d3d3d3;
}
.promenu {
 oxy-pro-menu_slug_oxypromenushowdropdownoxypromenulistmenuitemhaschildrenasvg_margin_left:2;
 background-color:#eaeaea;
 menu_off_canvas_animation:flip-right;
}
.promenu .oxy-pro-menu-list .menu-item, .promenu .oxy-pro-menu-list .menu-item a{
font-family: 'Montserrat';
text-transform: uppercase;
letter-spacing: 2px;
color: #000000;
font-weight: 700;
font-size: 14px;
line-height: 1;
text-decoration: none;
transition-duration:0.2s;
}

.promenu .oxy-pro-menu-list .menu-item a{
padding-left:8px;
padding-right:8px;
padding-bottom:8px;
padding-top:8px;
}

.promenu .oxy-pro-menu-list .menu-item.menu-item.menu-item.menu-item a:hover{
color:#ff0000;
background-color:#d3d3d3;
}

.promenu .oxy-pro-menu-container:not(.oxy-pro-menu-open-container):not(.oxy-pro-menu-off-canvas-container) .sub-menu{
box-shadow:0px 12px 12px rgba(0,0,0,0.12);}

.promenu .oxy-pro-menu-show-dropdown .oxy-pro-menu-list .menu-item-has-children > a svg{
color:#000000;
font-size:16px;
margin-top:-4px;
margin-bottom:-4px;
transform:rotate(0deg);
transition-duration:0.2s;
}

.promenu .oxy-pro-menu-show-dropdown .oxy-pro-menu-list .menu-item-has-children:hover > a svg{
transform:rotate(180deg);
}

.promenu .oxy-pro-menu-container:not(.oxy-pro-menu-open-container):not(.oxy-pro-menu-off-canvas-container) .sub-menu .menu-item a{
padding-top:8px;
padding-bottom:8px;
padding-left:12px;
padding-right:12px;
}

.promenu .oxy-pro-menu-container:not(.oxy-pro-menu-open-container):not(.oxy-pro-menu-off-canvas-container) .sub-menu .menu-item a:hover{
background-color:#eeeeee;
}

.promenu .oxy-pro-menu-container:not(.oxy-pro-menu-open-container):not(.oxy-pro-menu-off-canvas-container) .sub-menu .menu-item, .promenu .oxy-pro-menu-container:not(.oxy-pro-menu-open-container):not(.oxy-pro-menu-off-canvas-container) .sub-menu .menu-item a{
font-family: 'Montserrat';
font-size: 12px;
}

.promenu .oxy-pro-menu-mobile-open-icon svg{
width:16px;
height:16px;
margin-right:8px;
color:#000000;
}

.promenu .oxy-pro-menu-mobile-open-icon{
padding-top:16px;
padding-right:16px;
padding-bottom:16px;
padding-left:16px;
font-family: 'Montserrat';
text-transform: uppercase;
color: #000000;
letter-spacing: 2px;
font-weight: 600;
}

.promenu .oxy-pro-menu-mobile-open-icon, .promenu .oxy-pro-menu-mobile-open-icon svg{
transition-duration:0.2s;
}

.promenu .oxy-pro-menu-mobile-close-icon{
padding-top:16px;
padding-right:16px;
padding-bottom:16px;
padding-left:16px;
background-color:#cccccc;
font-family: 'Montserrat';
text-transform: uppercase;
letter-spacing: 2px;
color: #000000;
font-weight: 600;
}

.promenu .oxy-pro-menu-mobile-close-icon svg{
width:16px;
height:16px;
margin-right:8px;
color:#000000;
}

.promenu .oxy-pro-menu-mobile-close-icon:hover{
background-color:#bbbbbb;
}

.promenu .oxy-pro-menu-mobile-close-icon, .promenu .oxy-pro-menu-mobile-close-icon svg{
transition-duration:0.2s;
}

.promenu .oxy-pro-menu-container.oxy-pro-menu-off-canvas-container, .promenu .oxy-pro-menu-container.oxy-pro-menu-open-container{
background-color:#dddddd;
}

.promenu .oxy-pro-menu-container.oxy-pro-menu-open-container .menu-item a, .promenu .oxy-pro-menu-container.oxy-pro-menu-off-canvas-container .menu-item a{
padding-top:0px;
padding-bottom:0px;
}

.promenu .oxy-pro-menu-container.oxy-pro-menu-open-container, .promenu .oxy-pro-menu-container.oxy-pro-menu-off-canvas-container{
padding-top:40px;
padding-left:40px;
padding-right:40px;
padding-bottom:40px;
}

.promenu .oxy-pro-menu-container .menu-item a{
                    text-align: left;
                    justify-content: flex-start;
                }
.promenu .oxy-pro-menu-container.oxy-pro-menu-open-container .menu-item, .promenu .oxy-pro-menu-container.oxy-pro-menu-off-canvas-container .menu-item{
                    align-items: flex-start;
                }

            .promenu .oxy-pro-menu-off-canvas-container{
                    top: 0;
                    bottom: 0;
                    right: 0;
                    left: auto;
               }

            .promenu .oxy-pro-menu-container.oxy-pro-menu-open-container .oxy-pro-menu-list .menu-item a, .promenu .oxy-pro-menu-container.oxy-pro-menu-off-canvas-container .oxy-pro-menu-list .menu-item a{
                    text-align: right;
                    justify-content: flex-end;
                }

            .spawn-section-with-bg {
background-image:url(https://spawngamesfestival.org/wp-content/uploads/2022/08/bg_hero-1.png);background-size: contain; background-repeat:repeat;
 border-radius:40px;
 color:#f2f2f2;
 text-align:right;
}
.spawn-section-with-bg:not(.ct-section):not(.oxy-easy-posts),
.spawn-section-with-bg.oxy-easy-posts .oxy-posts,
.spawn-section-with-bg.ct-section .ct-section-inner-wrap{
display:flex;
flex-direction:column;
align-items:center;
justify-content:center;
}
.spawn-text {
 margin-top:0px;
 margin-right:0px;
 margin-bottom:0px;
 margin-left:0px;
 text-align:center;
 font-size:13px;
 color:#000000;
 font-weight:400;
}
.spawn-timer-js {
}
.spawn-btn {
 background-color:#000000;
 padding-top:1px;
 padding-right:1px;
 padding-bottom:1px;
 padding-left:10px;
 position:relative;
 border-top-style:solid;
 border-right-style:solid;
 border-bottom-style:solid;
 border-left-style:solid;
 border-top-color:#f2f2f2;
 border-right-color:#f2f2f2;
 border-bottom-color:#f2f2f2;
 border-left-color:#f2f2f2;
 border-top-width:1px;
 border-right-width:1px;
 border-bottom-width:1px;
 border-left-width:1px;
 color:#f2f2f2;
}
.spawn-btn:not(.ct-section):not(.oxy-easy-posts),
.spawn-btn.oxy-easy-posts .oxy-posts,
.spawn-btn.ct-section .ct-section-inner-wrap{
display:flex;
flex-direction:row;
flex-wrap:nowrap;
align-items:center;
justify-content:center;
}
.spawn-btn__text {
 text-transform:uppercase;
 font-size:14px;
}
.spawn-btn__icon {
color: #f2f2f2;}.spawn-btn__icon 
>svg {width: 22px;height: 22px;}.spawn-btn__icon {
 padding-right:0px;
 padding-bottom:0px;
 padding-left:100px;
 right:0px;
 padding-top:0px;
}
.spawn-text-justify {
 text-align:left;
}
.spawn-container {
 gap:var(--gap) ;
 background-color:#f2f2f2;
}
.spawn-container .ct-section-inner-wrap {
padding-top: var(--container-gap) ;
padding-right: var(--container-gap) ;
padding-bottom: var(--container-gap) ;
padding-left: var(--container-gap) ;
}
.spawn-container:not(.ct-section):not(.oxy-easy-posts),
.spawn-container.oxy-easy-posts .oxy-posts,
.spawn-container.ct-section .ct-section-inner-wrap{
gap:var(--gap)  ;
}
@media (max-width: 991px) {
.spawn-container {
}
.spawn-container .ct-section-inner-wrap {
padding-top: var(--container-gap-tablet) ;
padding-right: var(--container-gap-tablet) ;
padding-bottom: var(--container-gap-tablet) ;
padding-left: var(--container-gap-tablet) ;
}
}

@media (max-width: 767px) {
.spawn-container {
}
.spawn-container .ct-section-inner-wrap {
padding-top: var(--container-gap-mobile-horizontal) ;
padding-right: var(--container-gap-mobile-horizontal) ;
padding-bottom: var(--container-gap-mobile-horizontal) ;
padding-left: var(--container-gap-mobile-horizontal) ;
}
}

@media (max-width: 479px) {
.spawn-container {
}
.spawn-container .ct-section-inner-wrap {
padding-top: var(--container-gap-mobile) ;
padding-right: var(--container-gap-mobile) ;
padding-bottom: var(--container-gap-mobile) ;
padding-left: var(--container-gap-mobile) ;
}
}

.spawn-card:ct_depth{
}
.spawn-card {
 border-radius:40px;
 position:relative;
 text-align:left;
 background-color:#000000;
}
.spawn-card:not(.ct-section):not(.oxy-easy-posts),
.spawn-card.oxy-easy-posts .oxy-posts,
.spawn-card.ct-section .ct-section-inner-wrap{
align-items:center;
}
@media (max-width: 991px) {
.spawn-card {
 width:100%;
}
}

@media (max-width: 479px) {
.spawn-card {
 padding-top:30px;
 padding-bottom:30px;
}
}

.spawn-card__content:ct_depth{
}
.spawn-card__content {
 margin-right:20px;
 margin-bottom:20px;
 margin-left:20px;
 z-index:10;
 margin-top:20px;
 padding-top:20px;
 padding-right:20px;
 padding-bottom:20px;
 padding-left:20px;
 text-align:center;
 gap:var(--gap) ;
}
.spawn-card__content:not(.ct-section):not(.oxy-easy-posts),
.spawn-card__content.oxy-easy-posts .oxy-posts,
.spawn-card__content.ct-section .ct-section-inner-wrap{
display:flex;
flex-direction:column;
align-items:center;
justify-content:center;
gap:var(--gap)  ;
}
@media (max-width: 991px) {
.spawn-card__content {
}
}

.spawn-card__target-top-left:ct_depth{
}
.spawn-card__target-top-left {
transform:rotate(180deg); attachment_height:110;
 attachment_width:110;
 attachment_url:https://spawngamesfestival.org/wp-content/uploads/2022/08/target_black.png;
 position:absolute;
 height:50px;
 margin-left:0px;
 top:20px;
 left:20px;
}
.spawn-card__target-top-right:ct_depth{
}
.spawn-card__target-top-right {
transform:rotate(-90deg); attachment_height:110;
 attachment_width:110;
 attachment_url:https://spawngamesfestival.org/wp-content/uploads/2022/08/target_black.png;
 position:absolute;
 height:50px;
 margin-left:0px;
 top:20px;
 right:20px;
}
.spawn-card__target-bottom-right:ct_depth{
}
.spawn-card__target-bottom-right {
 attachment_height:110;
 attachment_width:110;
 attachment_url:https://spawngamesfestival.org/wp-content/uploads/2022/08/target_black.png;
 height:50px;
 position:absolute;
 right:20px;
 bottom:20px;
}
.spawn-card__target-bottom-left:ct_depth{
}
.spawn-card__target-bottom-left {
transform:rotate(90deg); attachment_height:110;
 attachment_width:110;
 attachment_url:https://spawngamesfestival.org/wp-content/uploads/2022/08/target_black.png;
 height:50px;
 position:absolute;
 bottom:20px;
 left:20px;
}
.spawn-section-shadow {
 box-shadow:inset 0px 0px 10px 0px #e7e7e7;
}
.spawn-section-shadow .ct-section-inner-wrap {
padding-bottom: 75px;
}
.spawn-section-shadow:not(.ct-section):not(.oxy-easy-posts),
.spawn-section-shadow.oxy-easy-posts .oxy-posts,
.spawn-section-shadow.ct-section .ct-section-inner-wrap{
display:flex;
}
.spawn-btn--white {
 background-color:#f2f2f2;
 color:#000000;
 border-top-color:#000000;
 border-right-color:#000000;
 border-bottom-color:#000000;
 border-left-color:#000000;
}
.spawn-partner {
}
.spawn-partner--img {
 width:120px;
 height:120px;
}
.spawn-partner-col {
 padding-right:0px;
 margin-right:0px;
 margin-left:0px;
 width:17%;
}
.spawn-partner-col:not(.ct-section):not(.oxy-easy-posts),
.spawn-partner-col.oxy-easy-posts .oxy-posts,
.spawn-partner-col.ct-section .ct-section-inner-wrap{
display:flex;
flex-direction:column;
align-items:center;
justify-content:center;
}
.spawn-partner-col__img {
 filter:brightness(0%);
 margin-right:0px;
 height:110px;
}
.spawn-title-underline {
 text-align:left;
 border-bottom-color:#000000;
 border-bottom-style:solid;
 padding-left:120px;
 padding-right:120px;
}
.spawn-title-underline:not(.ct-section):not(.oxy-easy-posts),
.spawn-title-underline.oxy-easy-posts .oxy-posts,
.spawn-title-underline.ct-section .ct-section-inner-wrap{
display:none;
align-items:center;
justify-content:center;
}
@media (max-width: 767px) {
.spawn-title-underline {
 padding-left:10px;
 padding-right:10px;
}
}

@media (max-width: 479px) {
.spawn-title-underline {
 text-align:center;
}
}

.spawn-section-with-bg-light {
 background-color:#f2f2f2;
}
.spawn-section-with-bg-light .ct-section-inner-wrap {
padding-bottom: 75px;
}
.spawn-heading {
 font-size:28px;
 font-weight:800;
 text-transform:uppercase;
}
.spawn-card__content-h1:ct_depth{
}
.spawn-card__content-h1 {
 font-size:40px;
 padding-right:0px;
 padding-left:0px;
 margin-top:0px;
 margin-right:30px;
 margin-bottom:0px;
 margin-left:30px;
 color:#ffffff;
 padding-bottom:0px;
 padding-top:0px;
}
.hidden {
}
.hidden:not(.ct-section):not(.oxy-easy-posts),
.hidden.oxy-easy-posts .oxy-posts,
.hidden.ct-section .ct-section-inner-wrap{
display:none;
}
.spawn-text-left {
 text-align:left;
}
.spawn-heading-primary {
 color:#000000;
}
.spawn-heading-h3 {
 font-size:16px;
}
.spawn-heading-secondary {
 color:#f2f2f2;
}
.spawn-text-secondary {
 color:#fff9f9;
 align-self:stretch;
}
.spawn-text-primary {
 color:#000000;
}
.text-center {
 text-align:center;
}
.text-bold {
 font-weight:700;
}
.divider {
	display: table; 
	font-size: 24px; 
	text-align: center; 
	width: 100%; 					
	margin: 10px auto;				
	height: 2px;
}

.divider-sm{
	height: 2px;
}

.divider div { display: table-cell; position: relative; }
.divider div:first-child, .divider div:last-child {
	width: 50%;							
	-moz-background-size: 100% 2px; 	
	background-size: 100% 2px;
	background-position: 0 0, 0 100%;
	background-repeat: no-repeat;
}
.divider div:first-child {
	background-image: -webkit-gradient(linear, 0 0, 0 100%, from(transparent), to(#fff));
	background-image: -webkit-linear-gradient(180deg, transparent, #fff);
	background-image: -moz-linear-gradient(180deg, transparent, #fff);
	background-image: -o-linear-gradient(180deg, transparent, #fff);
	background-image: linear-gradient(90deg, transparent, #fff);
}

.divider div:last-child {
	background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#fff), to(transparent));
	background-image: -webkit-linear-gradient(180deg, #fff, transparent);
	background-image: -moz-linear-gradient(180deg, #fff, transparent);
	background-image: -o-linear-gradient(180deg, #fff, transparent);
	background-image: linear-gradient(90deg, #fff, transparent);
}:root {
	--h-height: 110px;
	
	--l-margin: 75px;
	--l-margin-tablet: 50px;
	--l-margin-mobile-horizontal: 25px;
	--l-margin-mobile: 15px;
	
	
	
	
	--gap: 50px;
	
	--container-gap: 75px;
	--container-gap-tablet: 50px;
	--container-gap-mobile-horizontal: 25px;
	--container-gap-mobile: 15px;
	
	--content-width: 60%;
	
	--border-radius: 15%;
}

body { 
	background-color: #f2f2f2;
}a{
	color:#CCC;
	text-decoration-line: underline;
	text-decoration-color: #FFF;
}#section-partners .unslider-arrow{
background-image:url(https://spawngamesfestival.org/wp-content/uploads/2022/08/icon-arrow-right.png);background-size: auto 50px; border-top-style:none;
 border-right-style:solid;
 border-bottom-style:none;
 border-left-style:none;
 border-radius:0px;
 margin-top:-80px;
 height:160px;
 padding-left:50px;
 background-color:#f2f2f2;
 border-right-color:#707070;
 box-shadow:-20px 0px 60px #f2f2f2;
}
